@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  background-color: #0b0c15;
  color: #e2e2e2;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.menu-item {
  padding: 8px 12px;
  cursor: pointer;
  color: #eee;
  transition: background-color 0.2s;
}

.menu-item:hover {
  background-color: #333;
  color: #fff;
}

.star-map-container svg {
  user-select: none;
}
