@import "tailwindcss";

@theme {
  --color-space-black: #0b0c15;
  --color-star-white: #e2e2e2;
  --color-hud-blue: #5bc0de;
  --color-warning-red: #d9534f;
}

@layer base {
  body {
    @apply bg-space-black text-star-white font-mono;
  }
}